body {
    font-family: 'Lato', sans-serif;
  	font-size: 16px;
  	line-height: 1.7;
  	color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 1.2em;
}
#wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    user-select: none;
}
.separator {
    height: 3px;
    width: 150px;
    margin: 0 auto;
    background: #ddd;
}

.separator2 {
    height: 3px;
    width: 120px;
    background: #ddd;
}
h3 {
    margin: 0;
}

h1, h2 {
    text-align: center;
    font-size: 3em;
    margin-top: 20px; 
    margin-bottom: 0;
    text-transform: uppercase;
}
ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    z-index: 1;
    background-color: #333;
    top: 0;
    list-style-type: none;
    margin: 0;
    height: 80px;
    padding-right: 10vh;
}

ul li a {
    position: relative;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
}

ul li a:before {
    content: '';
    width: 0px;
    height: 3px;
    background: #00bcd4;
    position: absolute;
    top: 70%;
    left: 0;
    transition: .5s;
}

ul li a:after {
    content: '';
    width: 0px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 70%;
    right: 0;
    transition: .5s;
}

ul li:hover a:before {
    width: 50%;
    transform: translateX(100%);
}

ul li:hover a:after{
    width: 50%;
    transform: translateX(-100%);
}

.text-box {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
}
#header {
    position: absolute;
}
.heading-primary {
  	color: #fff;
  	text-transform: uppercase;

  	backface-visibility: hidden;

}

.heading-primary-main {
  	display: block;
  	font-size: 1em;
  	font-weight: 400;
  	letter-spacing: 5px;
}

.heading-primary-sub {
    margin-bottom: 30px;
  	display: block;
  	font-size: 18px;
  	font-weight: 700;
  	letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
  	text-transform: uppercase;
  	text-decoration: none;
  	padding: 10px 20px;
  	display: inline-block;
  	border-radius: 100px;
  	transition: all .2s;
  	position: relative;
}

.btn:hover {
  	transform: translateY(-3px);
  	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  	transform: translateY(-1px);
  	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  	background-color: #fff;
  	color: #777;
	font-size: 1em;
}

#header {
  	height: 100vh;
  	background-image: 
	  linear-gradient(to right bottom, 
     rgba(76, 216, 255, 0.8),
     rgba(30, 108, 217, 0.8)),
     url("images/head1.jpeg");
  	
	background-size: cover;
  	background-position: top;
  	position: relative;

  	clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
}
.flex-about{
    display: flex;
    flex-direction: row;
}

#about {
    background-color: white;
    min-height: 80vh;
}
.text {
    margin-left: 10%;
    width: 70%;
}

.text-img{
    margin-right: 6%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#service {
    background-color: #F8FAF4;
    padding: 20px;
    min-height: 70vh;
}
.flex-container1{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.flex-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.flex {
    margin: 20px;
    align-items: center;
    text-align: justify;
    max-width: 300px;
    border-radius: 2%;
    border-bottom-color: dodgerblue;
    border-bottom-style: solid;
    border-width: 5px;
    background: #F0F2EF;
    word-break: break-word;
}

.flex-con > img {
    padding: 20px;
}
.flex-con > h3 {
    margin: 0;
}
.flex-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-con > p {
    padding: 0px 10px 0px 10px;
}
.add-service {
    background-color: white;
    padding: 50px;
}

.flexo {
    display: flex;
    padding: 50px;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
}
.flexo1 {
    text-align: justify;
    margin: 20px;
    display: flex;
    max-width: 300px;
    align-items: center;
    flex-direction: column;
    background: #F0F2EF;
    border-bottom-style: solid;
    border-radius: 2%;
    border-bottom-color: dodgerblue;
    border-width: 5px;
    word-break: break-word;
}

.flexo1 > img {
    padding: 20px;
}
.flexo1 > p {
    padding: 0px 10px 0px 10px; 
}

#reviews {
    background-color: dodgerblue;
}
.container-flexi {
    padding: 50px;
    display: flex;
    justify-content: center;
}
.flexi {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flexi > img {
    height: 150px;
}
.flexi > h3{
    font-size: 2em;
    color: white;
}
.flexi > p {
    color: white;
}

.map-container > iframe{
    width: 100%;
    height: 40vh;
    display: block;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #333;
    height: 10vh;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .img {
        display: none;
    }
    
    .container {
        display: flex;
        justify-content: center;
    }
    .text > h3 {
        display: none;
    }
    
    .text > .separator2{
        display: none;
    }
}